<h2>News:</h2>
<p>
    <a href="/posts/new">Create New</a>
</p>
{{#each posts}}
<div class="hoverable card-panel">
    <p>{{this.title}}</p>
    <p>{{this.user}} posted at: {{this.createdAt}}</p>
    <p>
        <a target="_blank" href="{{this.link}}">Article</a>
    </p>
    <p>
        <a href="/posts/{{this.id}}">Comments ({{this.comments.length}})</a>
    </p>
</div>
{{/each}}