<h2>All posts:</h2>
<ol>
    {{#each posts}}
    <li>
        <p>{{this.title}}</p>
        <p>{{this.user}} posted at: {{this.createdAt}}</p>
        <p>View Article:
            <a href="{{this.link}}">{{this.link}}</a>
        </p>
        <p>
            <a href="/posts/{{this.id}}">Discussion</a>
        </p>
    </li>
    {{/each}}
</ol>