<h3 class="title">{{this.title}}</h3>

<p>{{this.user}} posted on {{this.createdAt}}</p>

<p>View:
    <a href="{{this.link}}">{{this.link}}</a>
</p>

<button>
    <a href="/posts/edit/{{this.id}}">Edit</a>
</button>

<h2>Comments:</h2>

<ol>
    {{#each comments}}
    <li>
        <p>"{{this.comment}}"</p>
        <p>{{this.name}} | {{this.createdAt}}</p>
    </li>
    {{/each}}
</ol>
<div class="item">
    <form action="/posts/{{id}}" method="POST">
        <p>
            <label for="comment">New Comment: </label>
            <input type="text" name="comment" placeholder="Add comment">
        </p>
        <p>
            <label for="name">Name: </label>
            <input type="text" name="name" placeholder="Enter your name">
        </p>
        <input type="submit">
    </form>

</div>